<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <!-- Category Listing Data Provider -->
    <virtualType name="Tigren\SimpleBlog\Model\ResourceModel\Category\Grid\Collection" 
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">tigren_simpleblog_category</argument>
            <argument name="resourceModel" xsi:type="string">Tigren\SimpleBlog\Model\ResourceModel\Category</argument>
        </arguments>
    </virtualType>
    
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="category_listing_data_source" xsi:type="string">Tigren\SimpleBlog\Model\ResourceModel\Category\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    
    <!-- Post Listing Data Provider -->
    <virtualType name="Tigren\SimpleBlog\Model\ResourceModel\Post\Grid\Collection" 
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">tigren_simpleblog_post</argument>
            <argument name="resourceModel" xsi:type="string">Tigren\SimpleBlog\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>
    
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="post_listing_data_source" xsi:type="string">Tigren\SimpleBlog\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    
</config>