<?xml version="1.0"?>
<routes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="tigren_simpleblog" frontName="tigren_simpleblog">
            <module name="Tigren_SimpleBlog" />
        </route>
    </router>
</routes>